
$enable-shadows: true;
$enable-responsive-font-sizes: true;

$primary-color: #0B357C ;
$secondary-color: #007E34;
$light: #FDFFFC ;
$dark: #0A090C ;


$font-family-sans-serif:      -apple-system, "Verdana", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            "Lato", !default;
